@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.display1 {
		font-size: 2.5rem;
		line-height: 138%;
		letter-spacing: -2%;
		font-weight: 700;
	}

	.display2 {
		font-size: 2.5rem;
		line-height: 138%;
		letter-spacing: -2%;
	}

	.title1 {
		font-size: 2.25rem;
		line-height: 138%;
		letter-spacing: -2%;
		font-weight: 700;
	}

	.title2 {
		font-size: 2rem;
		line-height: 138%;
		letter-spacing: -2%;
		font-weight: 700;
	}

	.title3 {
		font-size: 1.75rem;
		line-height: 138%;
		letter-spacing: -2%;
		font-weight: 700;
	}

	.title4 {
		font-size: 1.5rem;
		line-height: 132%;
		letter-spacing: -2%;
		font-weight: 700;
	}

	.head1 {
		font-size: 1.375rem;
		line-height: 132%;
		letter-spacing: -2%;
		font-weight: 700;
	}

	.head2 {
		font-size: 1.25rem;
		line-height: 132%;
		letter-spacing: -2%;
		font-weight: 700;
	}

	.head3 {
		font-size: 1.125rem;
		line-height: 132%;
		letter-spacing: -2%;
		font-weight: 600;
	}

	.head4 {
		font-size: 1rem;
		line-height: 132%;
		letter-spacing: -2%;
		font-weight: 600;
	}

	.head5 {
		font-size: 0.875rem;
		line-height: 132%;
		letter-spacing: -2%;
		font-weight: 600;
	}

	.head6 {
		font-size: 0.75rem;
		line-height: 132%;
		letter-spacing: -2%;
		font-weight: 600;
	}

	.body0 {
		font-size: 1.125rem;
		line-height: 148%;
		letter-spacing: -0.5%;
		font-weight: 500;
	}

	.body1 {
		font-size: 1rem;
		line-height: 148%;
		letter-spacing: -0.5%;
		font-weight: 400;
	}

	.body2 {
		font-size: 0.875rem;
		line-height: 148%;
		letter-spacing: -0.5%;
		font-weight: 400;
	}

	.body3 {
		font-size: 0.75rem;
		line-height: 148%;
		letter-spacing: -0.5%;
		font-weight: 400;
	}

	.body4 {
		font-size: 0.625rem;
		line-height: 148%;
		letter-spacing: -0.5%;
		font-weight: 400;
	}

	.text-emphasis {
		text-emphasis: filled #f6714e;
	}
}
